*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: dotted 1px red; */
    background-color: rgb(56, 56, 56);
}

.movie-list{
  /* max-inline-size: 2000px;
  margin-inline: auto; */
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
  grid-auto-rows: 590px;
  gap: 20px;
  margin-top: 10px;
  margin-bottom: 80px;
  overflow: hidden;
}

.thumbnail{
    height: 370px;
    text-align: center;
}

.movie-list img{
    width: 310px;
    height: 450px;
    border-radius: 15px;
    border: 5px solid white;
}

div .thumbnail-text{
    margin-top: 3px;
    font-size: 1.8em;
    color: rgb(255, 255, 255);
}

a{
    text-decoration: none;
}



.header-green{
    text-align: center;
    color: white;
    font-size: 60px;
    background-color: black;
    margin-top: 10px;
}

.bar{
    text-align: center;
}

.phone-home{
    display: block;
    color: white;
    margin: 20px 0px;
    font-size: 60px;
}

.title{
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 40px;
    background-color: black;
    padding: 10px 0px;
    border-bottom: 5px solid white;
    display: none;
}

.sub-title{
    text-align: center;
    padding: 10px 0px;
    border-bottom: 5px solid white;
    background-color: rgb(12, 12, 12);
    color: white;
    margin-bottom: 5px;
}

span{
    background-color: rgb(12, 12, 12);
    color: white;
}

.header-buttons{
    box-sizing: content-box;
    text-align: center;
}

.button-darkgray{
    display: inline-block;
    font-weight: bold;
    font-size: 60px;
    color: white;
    border: 2px solid white;
    background-color: black;
    border-radius: 10px;
    margin: 5px;
    padding: 15px;
}

p,.tagline{
    color: white;
}

.poster{
    width: 100%;
}

.actor-image{
    display: block;
    margin: 0 auto;
    width: 360px;
}

.actor-paragraph{
    text-align: center;
}
.header-green, .sub-title, .footer{
    display: none;
}




